#main_div {
    min-height: 80vh;
}

@media all and (max-width:1095px) {
    #navbar_heading {
        display: none;
    }

    #login_button {
        margin-left: 0px !important;
    }

    #login_card , #signup_card, #profile_update{
        width: 80% !important;
    }

    #card_heading{
        font-size: 1rem;
    }

    #counter_row{
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
}

@media all and (max-width:820px) {
    #navbar_heading {
        display: none;
    }

    #login_button {
        margin-left: 0px !important;
    }
}

@media all and (max-width:420px) {    
    #login_card , #signup_card, #profile_update{
        width: 100% !important;
    }
    
    #event_search_button{
        padding: 0 11px !important;
    }

    #table_font{
        font-size: 0.7rem !important;
    }

    #heading_font{
        font-size: 0.8rem !important;
    }

    #footer_heading{
        font-size: 0.8rem !important;
    }

    #table_size{
        width: 100% !important;
        overflow: hidden !important;
    }
    
    #counter_row{
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
    
    #counter_col{
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
    
    .counter_card{
        width: 80% !important;
    }
}