#main_div {
    min-height: 80vh;
}

@media all and (max-width:1095px) {
    #navbar_heading {
        display: none;
    }

    #login_button {
        margin-left: 0px !important;
    }    

    #heading_font{
        font-size: 1rem !important;
    }

    #form_card{
        width: 80% !important;
    }

    #card_heading{
        font-size: 1rem;
    }

    #counter_row{
        margin-left: 0px !important;
        padding-left: 0px !important;
    }

    .search_field{
        width: 25% !important;
        font-size: medium !important;
    }

    .search_font{
        font-size: small !important;
    }

    .search_col{
        width: 100% !important;
    }

    .search_row{
        margin: 11px 0px !important;
    }
    
    #event_search_button{
        padding: 0 11px !important;
    }
}

@media all and (max-width:420px) {    
    #form_card{
        width: 100% !important;
    }

    .event_action{
        padding: 0px 2px !important;
        margin: 0px 0px !important;
    }
    
    .search_field{
        font-size: small !important;
    }

    #table_font{
        font-size: 0.7rem !important;
    }

    #heading_font{
        font-size: 0.8rem !important;
    }

    .heading_font{
        font-size: 0.8rem !important;
        padding: 0px 5px !important;
    }

    #footer_heading{
        font-size: 0.8rem !important;
    }

    #table_size{
        width: 100% !important;
        overflow: hidden !important;
    }
    
    #counter_col{
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
    
    .counter_card{
        width: 80% !important;
    }
}